* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: orange;
  width: 900px;
  margin: auto;
  text-align: center;
}

header {
  margin: 20px 0;
}

.title{
  height: 350px;
  background: rgba(255,0,0,0.3);
  border: 8px solid white;
}

.menu{
  height: 40px;
  background: rgba(150,0,0,0.3)
}

main {
  background: blue;
}

.column {
  
}
