* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url('../img/background-pagina.png');
  width: 800px;
  margin: auto;
}


/* HEADER */

header {
  margin: 20px 0;
  font-family: 'Montserrat';
  text-align: center;
}

.title {
  position: relative;
  height: 350px;
  background-image: url('../img/background-banner.jpeg');
  background-size: cover;
  border: 10px solid white;
}

.title-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#logo {
  height: 170px;
  width: 400px;
}

.title-second-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
}


.main-navigation{
  background: rgb(90,90, 90);
}

.link-header {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: white;
  padding: 18px 10px;
}

.link-header:hover {
  background-color: rgba(0, 0, 0, 0.5)
}


/* MAIN PART */

main {
  font-family: 'Roboto';
}

main::after{
  content: '';
  display: table;
  clear: both;
  margin-bottom: 20px;
}


.column {
  float: left;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}

.column-link {
  display: block;
  text-decoration: none;
  color: rgb(0, 135, 0);
  font-size: 16px;
  padding-top: 10px;
}

.column-link:hover {
  text-decoration: underline;
}


.column.sx {
  width: calc(100%/5);
}

.fa {
  /* display: inline-block; */
}

.column.sx .column-title {
  display: inline-block;
}

.column.sx i {
  vertical-align: top;
  padding-top: 3px;
  color: orange
}

.column-title{
  margin-bottom: 25px;
  padding-left: 5px;
}


.column.centre {
  width: calc(100%/2);
  margin-right: 5%;
  margin-left: 5%;
  padding: 20px;
}

.column.centre .column-title {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.column.dx {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: calc(100%/5)
}

.windget {
  margin-bottom: 15px;
  padding: 15px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}

.windget h2{
  padding-bottom: 30px;
}


/* MAIN FOOTER */

footer {
  background: snow;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px 10px;
}

.footer-content {
  color: grey;
  padding-bottom: 1px;
  border-bottom: 1px solid grey;
  font-style: italic;
  font-size: 12px;
}

.footer-link-cont::after {
  content: '';
  display: table;
  clear: both;
}

.footer-link-cont a {
  display: inline-block;
  float: left;
  width: calc(100%/3);
  list-style: none;
  padding: 30px;
}

.footer-link-cont a:hover {
  border: 1px solid darkgrey;
}
