* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: silver;
  width: 900px;
  margin: auto;
  text-align: center;
}

header {
  margin: 20px 0;
}

.title{
  height: 350px;
  background: rgba(255, 0, 0, 0.3);
  border: 8px solid white;
}

.menu{
  height: 40px;
  background: rgba(150,0,0,0.3)
}

main {
  background: rgba(0, 0, 255 ,1)
}

main::after{
  content: '';
  display: table;
  clear: both;
  margin-bottom: 20px;
}


.column {
  float: left;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

.column.sx {
  background: rgba(0, 0, 200, 0.5);
  width: calc(100%/5);
}

.column-title{
  margin-bottom: 20px;
}


.column.centre {
  background: rgba(0, 0, 100, 0.5);
  width: calc(100%/2);
  margin-right: 5%;
  margin-left: 5%;
}

.column.dx {
  background: rgba(0, 0, 150, 0.5);
  width: calc(100%/5)
}

.windget {
  margin: 10px;
  padding: 5px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}

footer {
  height: 50px;
  background: yellow;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}
